html,body{
    height: auto;
    margin: 0;
    padding: 5px;
    overflow-x: hidden;
}
.container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    align-items: center;
    overflow-x: hidden;
}

.topcard{
    display: inline-flex;
    background-color: rgb(38, 88, 213);
    border-radius: 1rem;
    padding: 10px;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
}

.heading, .option{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 241, 241);
}

.heading{
    font-size: 18px;
    margin-left: 30px;
}

.option{
    font-size: 16px;
    margin-right: 40px;
    text-decoration: none;
}

.options{
    margin-right: 20px;
}

.calculatorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.mainbody{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    background-color: rgb(53, 53, 53);
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 420px;
    box-sizing: border-box;
    height: auto;
    border-radius: 1rem;
}

.gridelement0{
    grid-area: 1/1/2/5;
}

.gridelement1{
    grid-area: 2/1/3/2;
}

.gridelement2{
    grid-area: 2/2/3/3;
}

.gridelement3{
    grid-area: 2/3/3/4;
}

.gridelement5{
    grid-area: 3/1/4/2;
}

.gridelement6{
    grid-area: 3/2/4/3;
}

.gridelement7{
    grid-area: 3/3/4/4;
}

.gridelement9{
    grid-area: 4/1/5/2;
}

.gridelement10{
    grid-area: 4/2/5/3;
}

.gridelement11{
    grid-area: 4/3/5/4;
}

.gridelement18{
    grid-area: 5/1/6/2;
}

.gridelement16{
    grid-area: 5/2/6/3;
}

.gridelement17{
    grid-area: 5/3/6/4;
}

.element{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    border-radius: 1rem;
    border-width: 1.5px;
    text-align: center;
    background-color: rgb(176, 176, 176);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
.element:hover{
    background-color: rgb(209, 252, 240);
    transform: scale(1.025);
}
.element2{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    border-radius: 1rem;
    border-width: 1.5px;
    text-align: center;
}

.gridelement12{
    grid-area: 6/3/7/5;
    background-color: rgb(195, 255, 195);
}

.gridelement13{
    grid-area: 6/1/7/2;
    background-color: rgb(247, 128, 128);
}

.gridelement19{
    grid-area: 6/2/7/3;
    background-color: rgb(247, 128, 128);
}

.gridelement4{
    grid-area: 2/4/3/5;
    background-color: rgb(139, 166, 254);
}

.gridelement8{
    grid-area: 3/4/4/5;
    background-color: rgb(139, 166, 254);
}

.gridelement14{
    grid-area: 4/4/5/5;
    background-color: rgb(139, 166, 254);
}

.gridelement15{
    grid-area: 5/4/6/5;
    background-color: rgb(139, 166, 254);
}

.aboutText{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.aboutContainer{
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aboutHeading{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}