.container{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box; 
    align-items: center;
}

.topcard{
    display: flex;
    background-color: rgb(38, 88, 213);
    border-radius: 1rem;
    padding: 10px;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.heading, .option{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 241, 241);
}

.heading{
    font-size: 18px;
    margin-left: 30px;
}

.option{
    font-size: 16px;
    margin-right: 40px;
}

.options{
    margin-right: 20px;
}
